.navbar {
    background: brown;
    padding: 1vh;
  }
  .navbar nav {
    display: inline-flex;
    align-items: center;
    max-width: 500vw;
    margin: 0 auto;
    margin-left: 1vw;
  }
  .navbar a.brand {
    margin-right: 1vw;
    color: blanchedalmond;
    text-decoration: none;
  }

  .navbar a:hover {
    color:black;
  }

  .nav li.brand {
    margin-right: 1vw;
    color: blanchedalmond;
    text-decoration: none;
  }

  .nav li:hover {
    color:black;
  }

  .navbar a.activeLink  {
    color: black;
  }

.searchbar {
      display: inline-flex;
      align-items: right;
}

.auth {
  display: inline-flex;
  align-items: right;
  margin-left: 60vw;
}