.join_form {
    max-width: 20vw;
    margin: 1vw auto;
    padding: 0.5vw;
}

.join_form h1 {
    color: blanchedalmond;
}

.join_form button h3 {
    color: blanchedalmond;
}

.join_form label {
    display: block;
    margin: 30px auto;
    color: blanchedalmond;
}

.join_form span {
    display: block;
    margin-bottom: 6px;
}

.join_form input {
    padding: 8px 6px;
    font-size: 1em;
    color: #777;
    width: 100%;
}

.star-label {
    display: inline-flex;
}

.star-label p {
    color: red;
    padding-right: 0.3vw;
}

.join_form button {
    display: inline-flex;
    align-items: center;
    background-color: brown;
}

.join_form button h3:hover{
    background-color: brown;
    color: black !important;
}

.join_form button:hover{
    background-color: brown;
}

.error {
    padding-top: 3%;
    background-color: rgb(230, 184, 184);
    color: red;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: red;
}

.intro_text {
    color: blanchedalmond;
}
